{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
		<title>Investment Idea App</title>
		{% endblock title %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50">
		{% block content %}
		{% endblock %}
	</body>
</html>
