{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<div class="">
    <section class="relative flex flex-col items-center justify-center {% if page == 'home' %} h-screen {% endif %} text-center">
        {% if page == 'home' %}
            <img src="{% static 'images/investment-2.jpeg' %}" alt="Investment Ideas"
            class="absolute inset-0 w-full h-full object-cover">
            <div class="absolute inset-0 bg-black opacity-50"></div>
            <div class="relative z-10 p-8 rounded"></div>
        {% endif %}
        <nav class="absolute top-0 left-0 w-full py-4 px-16 flex justify-between items-center bg-black bg-opacity-50">
            <a href="{% url 'home' %}" class="text-white text-2xl">Investment Tracker</a>
            <div class="md:hidden">
                <button id="menu-toggle" class="text-white focus:outline-none">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <ul id="menu" class="hidden md:flex space-x-4 text-white">
                {% if request.user.is_superuser %}
                     <li>
                        <a href="{% url 'admin' %}" class="hover:text-green-500">Admin Dashboard</a>
                    </li>
                {% endif %}
               {% if page == 'home' %}
                     <li>
                    <a href="#features" class="hover:text-green-500">Features</a>
                </li>
               {% endif %}
                <li><a href="{% url 'investment_ideas' %}" class="hover:text-green-500">Ideas</a></li>
               {% if page == 'home' %}
                     <li><a href="#about" class="hover:text-green-500">About</a></li>
                <li><a href="#contact" class="hover:text-green-500">Contact</a></li>
               {% endif %}
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' %}" class="hover:text-green-500">Hi, {{ request.user.first_name|default:"Admin" }} 👋</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="hover:text-green-500">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% if page == 'home' %}
            <div class="relative z-10 p-8 rounded">
            <h1 class="text-5xl text-green-500 mb-4">Investment Idea Tracker</h1>
            <p class="text-xl text-white mb-8">Find and track your investment ideas with ease</p>
            <a href="#features" class="bg-green-500 text-white py-2 px-4 rounded">Learn More</a>
        </div>
        {% endif %}
</div>
</section>
<script>
    document.getElementById('menu-toggle').addEventListener('click', function () {
        var menu = document.getElementById('menu');
        menu.classList.toggle('hidden');
    });
</script>
<section class="mt-20">
    {% block user_content %}

    {% endblock %}
</section>
<footer class="bg-black text-white py-4 mt-8">
    <div class="container mx-auto text-center">
        <p>&copy; 2025 Investment Idea Tracker. All rights reserved.</p>
        <p>Follow us on
            <a href="#" class="text-green-500 hover:text-green-700">Twitter</a>,
            <a href="#" class="text-green-500 hover:text-green-700">Facebook</a>, and
            <a href="#" class="text-green-500 hover:text-green-700">LinkedIn</a>.
        </p>
    </div>
</footer>
{% endblock %}