{% extends 'base.html' %}
{% block title %}
<title>Admin Dashboard</title>
{% endblock %}
{% block content %}
<div class="relative flex flex-col min-h-screen">
    <nav class="sticky top-0 z-[999] w-full py-4 px-16 flex justify-between items-center bg-black bg-opacity-50">
        <div class="text-white text-2xl">Admin Dashboard</div>
        <div class="md:hidden">
            <button id="menu-toggle" class="text-white focus:outline-none">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <ul id="menu" class="hidden md:flex space-x-4 text-white">
            <li>
                <a href="{% url 'home' %}" class="hover:text-green-500">Home</a>
            </li>
            <li><a href="#featured-ideas" class="hover:text-green-500">Ideas</a></li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'profile' %}" class="hover:text-green-500">
                    Hi, {{ request.user.first_name|default:"Admin" }} 👋
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="hover:text-green-500">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="relative">
        <div class="flex justify-around md:justify-start md:flex-col md:fixed left-0 bg-gray-300 text-center md:h-full md:w-10 md:w-16">
            <a href="{% url 'admin' %}" class="p-4 border-b border-gray-100 hover:bg-green-200 text-green-500 hover:text-white flex items-center justify-center">
                <i class="fas fa-tachometer-alt"></i>
            </a>
             <a href="{% url 'admin_investment_ideas' %}" class="p-4 border-b border-gray-100 hover:bg-green-200 text-green-500 hover:text-white flex items-center justify-center">
                <i class="fa-solid fa-sack-dollar"></i>
            </a>
             <a href="{% url 'users' %}" class="p-4 border-b border-gray-100 hover:bg-green-200 text-green-500 hover:text-white flex items-center justify-center">
                <i class="fa-solid fa-users"></i>
            </a>
             <a href="{% url 'logout' %}" class="p-4 border-b border-gray-100 hover:bg-green-200 text-green-500 hover:text-white flex items-center justify-center">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
        <div class="p-4 md:ml-16 flex-grow-1 ">
            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock%}