{% extends 'admin/admin_base.html' %}
{% block title %}
<title>Admin Dashboard</title>
{% endblock title %}
{% block admin_content %}
<div class="w-full">
    <div class="w-full flex flex-col md:flex-row md:justify-between md:items-center mb-3 mt-1 md:pl-3 space-y-2 md:space-y-0 ">
        <div>
            <h2 class="text-lg font-semibold text-green-500">Users</h2>
            <p class="text-slate-500">All registered users.</p>
        </div>
        <div class="relative">
            <input
                class="bg-white w-full md:pr-11 h-10 pl-3 py-2 bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded transition duration-200 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md"
                placeholder="Search for users" />
            <button class="absolute h-8 w-8 right-1 top-1 my-auto px-2 flex items-center bg-white rounded "
                type="button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                    stroke="currentColor" class="w-8 h-8 text-slate-600">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
            </button>
        </div>
    </div>    
    <div class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
    <table class="w-full text-left table-auto min-w-max">
        <thead>
        <tr>
            <th class="p-4 border-b border-slate-200 bg-slate-50">
            <p class="text-sm font-normal leading-none text-slate-500">
                #
            </p>
            </th>
             <th class="p-4 border-b border-slate-200 bg-slate-50">
            <p class="text-sm font-normal leading-none text-slate-500">
                ID
            </p>
            </th>
            <th class="p-4 border-b border-slate-200 bg-slate-50">
            <p class="text-sm font-normal leading-none text-slate-500">
                Full Name
            </p>
            </th>
            <th class="p-4 border-b border-slate-200 bg-slate-50">
            <p class="text-sm font-normal leading-none text-slate-500">
                Email
            </p>
            </th>
            <th class="p-4 border-b border-slate-200 bg-slate-50">
            <p class="text-sm font-normal leading-none text-slate-500">
                Date Joined
            </p>
            </th>
            <th class="p-4 border-b border-slate-200 bg-slate-50">
            <p class="text-sm font-normal leading-none text-slate-500">
                Status
            </p>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="hover:bg-slate-50 border-b border-slate-200">
            <td class="p-4 py-5">
            <p class="block font-semibold text-sm text-slate-800">{{ forloop.counter }}</p>
            </td>
            <td class="p-4 py-5">
                <p class="text-sm text-slate-500">USR{{ user.id }}</p>
            </td>
            <td class="p-4 py-5">
            <p class="text-sm text-slate-500">{{user.first_name|default:"Admin"}} {{user.last_name}}</p>
            </td>
            <td class="p-4 py-5">
            <p class="text-sm text-slate-500">{{user.email}}</p>
            </td>
            <td class="p-4 py-5">
            <p class="text-sm text-slate-500">{{user.date_joined}}</p>
            </td>
            <td class="p-4 py-5">
                {% if user.is_active %}
                    <span class="text-sm text-green-500 bg-green-100 rounded-lg px-2 py-0.5">Active</span>
                {% else %}
                    <span class="text-sm text-red-500 bg-red-100 rounded-lg px-2 py-0.5">Inactive</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}